USE [master]
GO
/****** Object:  Database [ToDoDB]    Script Date: 4/2/2023 8:23:09 PM ******/
CREATE DATABASE [ToDoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToDoApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToDoApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoDB]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 4/2/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Name], [Date], [Description], [State]) VALUES (1, N'string', CAST(N'2023-04-02T21:32:13.947' AS DateTime), N'string', 1)
INSERT [dbo].[Item] ([Id], [Name], [Date], [Description], [State]) VALUES (3, N'string', CAST(N'2023-04-02T20:08:05.177' AS DateTime), N'string', 1)
INSERT [dbo].[Item] ([Id], [Name], [Date], [Description], [State]) VALUES (4, N'string lalala', CAST(N'2023-04-02T23:17:19.523' AS DateTime), N'string', 1)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
USE [master]
GO
